.form__input {
  width: 100%;
  margin-bottom: 2rem;
  position: relative;
  input, textarea {
    border: 0.2rem solid $color--dark;
    font-size: 1.6rem;
    padding: 1rem;
    outline: $color--dark;
    transition: border 0.3s;
    border-radius: 0;
    width: 100%;
    &.is-error {
      border-color: $color--red-2;
    }
    &:hover {
      border-color: $color--yellow;
    }
    &:focus {
      border-color: $color--blue;
    }
  }
}