// Colors
$color--dark: #333;
$color--light: #fff;

$color--yellow: #fcd281;
$color--red: #902724;
$color--red-2: #f23c27;
$color--blue: #1b729f;
$color--blue-2: #1a323e;
$color--green-1: #67c23a;

$color--brown: #383434;
$color--font: #333;